{{<base}} 
{{$body}}
<body class="bg-lime-100 min-h-screen flex items-center justify-center">
  <div class="flex flex-col items-center text-center max-w-2xl px-4">

    <!-- Logo -->
    <img src="/images/PoP_logo.png" class="h-40" />
    <p class="text-2xl">Exploring Prague’s parks has never been easier.</p>

    <!-- Hero Image -->
    <div class="flex items-center justify-center">
      <img src="/images/Frame 3.svg" class="h-120" />
    </div>

    <!-- Text -->
    <p class="text-lg leading-relaxed mt-6">
      From quiet neighborhood gardens to sprawling historic
      landscapes, the city is full of green spaces waiting to be discovered. Parks of Prague brings them all
      together in one simple, beautifully organized place, so you can find the perfect spot whether you’re
      planning a morning run, a weekend picnic, or a peaceful moment away from the crowds.
    </p>

  </div>
</body>
{{/body}}
{{/base}}